In [1]:
import numpy as np
import pandas as pd
import torch
from torch.utils.data import DataLoader
from tqdm import tqdm

Intel MKL WARNING: Support of Intel(R) Streaming SIMD Extensions 4.2 (Intel(R) SSE4.2) enabled only processors has been deprecated. Intel oneAPI Math Kernel Library 2025.0 will require Intel(R) Advanced Vector Extensions (Intel(R) AVX) instructions.
Intel MKL WARNING: Support of Intel(R) Streaming SIMD Extensions 4.2 (Intel(R) SSE4.2) enabled only processors has been deprecated. Intel oneAPI Math Kernel Library 2025.0 will require Intel(R) Advanced Vector Extensions (Intel(R) AVX) instructions.

In [2]:
pd.read_parquet('bal_train.parquet')

,start_time_seconds,end_time_seconds,labels,audio_embedding
video_id,,,,
45,30.0,40.0,[399],"[[95, 122, 147, 14, 101, 48, 157, 125, 250, 24..."
45,30.0,40.0,"[0, 451]","[[80, 181, 216, 164, 218, 123, 76, 108, 255, 5..."
45,30.0,40.0,"[27, 466]","[[107, 150, 89, 138, 132, 0, 138, 0, 135, 110,..."
45,0.0,10.0,"[0, 95, 137]","[[141, 83, 110, 177, 169, 71, 64, 160, 118, 15..."
45,200.0,210.0,"[427, 431]","[[102, 47, 170, 59, 136, 154, 53, 100, 194, 10..."
...,...,...,...,...
122,30.0,40.0,"[0, 72, 73, 74, 76, 78, 137]","[[69, 107, 172, 171, 248, 79, 174, 155, 147, 2..."
122,30.0,40.0,"[501, 503]","[[156, 92, 66, 77, 92, 109, 117, 197, 148, 140..."
122,370.0,380.0,"[0, 386, 491, 506]","[[51, 59, 145, 69, 157, 160, 19, 143, 84, 232,..."
122,80.0,90.0,"[300, 306, 326, 343]","[[67, 156, 61, 9, 250, 64, 169, 69, 103, 142, ..."
122,30.0,40.0,"[300, 306, 307, 320]","[[18, 188, 124, 79, 255, 94, 255, 158, 237, 14..."